{% extends 'navigationrecord/base.html' %}

{% block content %} 
 
<div class="d-grid gap-2 col-6 mx-auto" style="display: grid!important; grid-template-columns: 1fr 1fr; justify-content: center; padding-top: 20%;">
    <a href="/front"><button class="btn btn-primary" type="button" style="padding: 50px; padding-inline: 100px;">Q1 - Navigation Records</button></a>
    <a href="/opfront"><button class="btn btn-primary" type="button" style="padding: 50px; padding-inline: 100px;">Q2 - Bins/Operations</button></a>
  </div>
{% endblock %} 

